<!-- ======This page for display all details from btn dailoge ======= -->
<%- include('../partails/head'); %>
<%- include('../partails/secondrynav'); %>
<%- include('../partails/carousel'); %>
<div>
    <h1>
        <%= data.adsNumber %>
    </h1>
</div>
<%- include('../partails/footer'); %>