<%- include('../partails/head'); %>
<%- include('../partails/navbar'); %>
<%- include('../partails/carousel'); %>
<div> <!-- All realEstat data -->
    <% if (realList != null) { %>
        <div id="real" class="container mainContanerAllReal">
            <h1 class="realLan">Real Estates</h1>
            <div class="row align-items-center">
                <% realList.forEach(function(item) { %>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                        <div class="data-container"> <img
                                src="<%= item.images[0] %>"
                                alt="ad img">
                            <h5>
                                <%= item.details[0] %>
                            </h5>
                            <h6>
                                <%= item.details[2] + '' + item.details[3] %>
                            </h6>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <% } else { %>
            <%- include('../partails/nodata'); %>
    <% } %>
</div>
<div> <!-- All car dat -->
    <% if (listAllCar != null) { %>
        <div id="car" class="container mainContanerAllReal">
            <h1 class="carLan">Vehicles</h1>
            <div class="row align-items-center">
                <% listAllCar.forEach(function(item) { %>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                        <div class="data-container"> <img
                                src="<%= item.images[0] %>"
                                alt="ad img">
                            <h5>
                                <%= item.details[0] %>
                            </h5>
                            <h6>
                                <%= item.details[2] + '' + item.details[3] %>
                            </h6>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <% } else { %>
            <%- include('../partails/nodata'); %>
    <% } %>
</div>
<div> <!-- All Hotel data -->
    <% if (listAllHotel != null) { %>
        <div id="hotel" class="container mainContanerAllReal">
            <h1 class="hotelLan">Hotels</h1>
            <div class="row align-items-center">
                <% listAllHotel.forEach(function(item) { %>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                        <div class="data-container"> <img
                                src="<%= item.images[0] %>"
                                alt="ad img">
                            <h5>
                                <%= item.details[0] %>
                            </h5>
                            <h6>
                                <%= item.details[2] + '' + item.details[3] %>
                            </h6>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <% } else { %>
            <%- include('../partails/nodata'); %>
    <% } %>
</div>
<%- include('../partails/footer'); %>